{% set proxy_config = {} %}
{% for key,value in proxy_options.items() %}
{% if value != '' %}
{% set myvalue = proxy_config.update({ key: value }) %}
{% endif %}
{% endfor %}
{{ proxy_config | to_nice_json }}
