apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-configmap
  namespace: traefik
data:
  filebeat.yml: |
    filebeat:
      config:
        modules:
          path: /usr/share/filebeat/modules.d/*.yml
          reload:
            enabled: true
      modules:
      - module: traefik
        access:
          enabled: true
          var.paths: ["/var/log/traefik/access.log"]
    setup.dashboards.enabled: true
    setup.kibana:
      host: {{ kibana_ip }}:{{ kibana_port }}

    output:
      elasticsearch:
        hosts: ["{{ elasticsearch_ip }}:{{ elasticsearch_port }}"]
